@keyframes Movefromleft {
  0% {
    opacity: 0;
    transform: translate(-35%); }
  92% {
    transform: translate(2.3%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes Movefromright {
  0% {
    opacity: 0;
    transform: translate(85%); }
  92% {
    transform: translate(-2.3%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes Rotatebeep {
  0% {
    opacity: 1;
    transform: rotate(0); }
  5% {
    opacity: 0; }
  10% {
    opacity: 1; }
  15% {
    opacity: 0; }
  20% {
    opacity: 1; }
  25% {
    opacity: 0; }
  30% {
    opacity: 1; }
  35% {
    opacity: 0; }
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0; }
  70% {
    opacity: 1; }
  75% {
    opacity: 0; }
  80% {
    opacity: 1; }
  85% {
    opacity: 0; }
  90% {
    opacity: 1; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

@keyframes Buttonanim {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  /*
    80%{
      opacity: 0;
      transform: translateY(100%);
    }
  */
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes ButtonInvisible {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.Heading_primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 11%; }
  .Heading_primary--main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 3.8rem;
    margin-left: 2.5rem;
    animation: Movefromleft;
    animation-duration: 2.35s;
    animation-timing-function: ease-in-out; }
  .Heading_primary--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1.3rem;
    animation: Movefromright;
    animation-duration: 2.35s;
    animation-timing-function: ease-in-out; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.Heading_primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 11%; }
  .Heading_primary--main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 3.8rem;
    margin-left: 2.5rem;
    animation: Movefromleft;
    animation-duration: 2.35s;
    animation-timing-function: ease-in-out; }
  .Heading_primary--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1.3rem;
    animation: Movefromright;
    animation-duration: 2.35s;
    animation-timing-function: ease-in-out; }

.Btn:link, .Btn:visited {
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.Btn--anim {
  animation: Buttonanim .6s 1.6s;
  animation-fill-mode: backwards; }

.Btn:hover {
  transform: translateY(-8%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .Btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.Btn:active {
  transform: translateY(-3%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.Btn--white {
  background-color: #fff;
  color: #777;
  padding: 1.5% 3%;
  display: inline-block; }

.Btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.4s; }

.row {
  max-width: 114rem;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to top, rgba(38, 124, 189, 0.9), rgba(0, 0, 0, 0.54)), url(../img_1/hero.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 6%;
    left: 3.4%; }
  .header__logo {
    height: 3.5rem; }
  .header__logo:hover {
    animation: Rotatebeep ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }
  .header__Box_middle {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 47%;
    text-align: center; }
