@keyframes Movefromleft {
    0% {
      opacity: 0;
      transform: translate(-35%);
    }
  
    92% {
      transform: translate(2.3%);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes Movefromright {
    0% {
      opacity: 0;
      transform: translate(85%);
    }
  
    92% {
      transform: translate(-2.3%);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes Rotatebeep {
    0% {opacity: 1;transform: rotate(0);}
    5% {opacity: 0;}
    10% {opacity: 1;}
    15% {opacity: 0;}
    20% {opacity: 1;}
    25% {opacity: 0;}
    30% {opacity: 1;}
    35% {opacity: 0;}
    40% {opacity: 1;}
    45% {opacity: 0;}
    50% {opacity: 1;}
    55% {opacity: 0;}
    60% {opacity: 1;}
    65% {opacity: 0;}
    70% {opacity: 1;}
    75% {opacity: 0;}
    80% {opacity: 1;}
    85% {opacity: 0;}
    90% {opacity: 1;}
    95% {opacity: 0;}
    100% {opacity: 1;transform: rotate(360deg);}
  }
  
  @keyframes Buttonanim{
    0%{
      opacity: 0;
      transform: translateY(100%);
    }
  /*
    80%{
      opacity: 0;
      transform: translateY(100%);
    }
  */
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes ButtonInvisible{
    0%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }